#outer-box {
	background-color: purple;
border: 10px;
}
.box {
	background-color: blue;
	padding: 10px;
}

p {
	color: yellow;
	margin: 0;
	padding: 0;
}

.box {
}

.inner-box {
	background-color: red;
	
}

.white-text {
	color: white;
}
